<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
	<!-- bootstrap css -->
	<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<!-- 禁止bootstrap 响应式 （app根据自身需求启用或禁止bootstrap响应式） -->
	<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" rel="stylesheet">
    <!-- jquery ui css-->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet">
    <!-- 平台cs	 -->
	<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link rel="stylesheet" href="https://magicbox.bk.tencent.com/static_api/v3/components_vue/2.0/bk-magic-vue.min.css">
    <style>
    	/*如果你需要给你的应用固定高度和宽度，请在这里修改*/
		body {min-width:1202px;}
		.container{
			width:auto;
			min-width: 1200px;
			max-width:1400px;
		}
	</style>
</head>

<body>
    <div id="app">
        <nav>
            <div class="navbar king-horizontal-nav1" id="nav1_demo1" style="min-width:768px;">
                <div class="navbar-container">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="#">
                            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo">
                        </a>
                    </div>
                    <ul class="nav navbar-nav pull-left">
                        <li class="active"><a href="index.html">服务发布</a></li>
                        <li><a href="query.html">数据查询</a></li>
                    </ul>
                    <div class="navbar-header pull-right">
                        <ul class="nav">
                            <li class="user-info">
                                <a href="javascript:">
                                    <span>exam_user</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="wrapper m20">
            <bk-container :col="12">
                <bk-row>
                    <bk-col :span="8" :offset="2">
                        <div>
                            <h3>服务发布</h3>
                            <bk-form form-type="inline">
                                <bk-form-item label="业务">
                                    <bk-select id="bizList" v-model="bizID" style="width: 250px;" :clearable="true">
                                        <bk-option v-for="biz in bizList"
                                            :key="biz.bk_biz_id"
                                            :id="biz.bk_biz_id"
                                            :name="biz.bk_biz_name">
                                        </bk-option>
                                    </bk-select>
                                </bk-form-item>

                                <bk-form-item label="主机">
                                    <bk-select v-model="hostID" style="width: 250px;" :clearable="false">
                                        <bk-option v-for="host in hostList"
                                            :key="host.bk_host_outerip"
                                            :id="host.bk_host_outerip"
                                            :name="host.bk_host_outerip">
                                        </bk-option>
                                    </bk-select>
                                </bk-form-item>

                                <bk-form-item>
                                    <bk-button theme="success" title="发布">开始发布</bk-button>
                                </bk-form-item>
                            </bk-form>
                        </div>
                        <hr>
                        <div>
                            <h3>发布历史</h3>
                                <bk-form form-type="inline">
                                    <bk-form-item label="按任务状态过滤">
                                        <bk-select v-model="statusFilter" style="width: 250px;" :clearable="false">
                                            <bk-option key="ALL" id="ALL" name="全部"></bk-option>
                                            <bk-option key="CREATED" id="CREATED" name="CREATED"></bk-option>
                                            <bk-option key="RUNNING" id="RUNNING" name="RUNNING"></bk-option>
                                            <bk-option key="FAILED" id="FAILED" name="FAILED"></bk-option>
                                            <bk-option key="SUSPENDED" id="SUSPENDED" name="SUSPENDED"></bk-option>
                                            <bk-option key="REVOKED" id="REVOKED" name="REVOKED"></bk-option>
                                            <bk-option key="FINISHED" id="FINISHED" name="FINISHED"></bk-option>
                                        </bk-select>
                                    </bk-form-item>
                                    <bk-form-item>
                                        <bk-button theme="primary" title="刷新">刷新</bk-button>
                                    </bk-form-item>
                                </bk-form>
                            <bk-table style="margin-top: 15px;"
                                :data="releaseTasks">
                                <bk-table-column label="任务ID">
                                    <template slot-scope="props">
                                        <a target="_blank" href="#">
                                            {{ props.row.task_id }}
                                        </a>
                                    </template>
                                </bk-table-column>
                                <bk-table-column label="业务ID" prop="bk_biz_id"></bk-table-column>
                                <bk-table-column label="内网IP" prop="bk_host_innerip"></bk-table-column>
                                <bk-table-column label="外网IP" prop="bk_host_outerip"></bk-table-column>
                                <bk-table-column label="云区域ID" prop="bk_cloud_id"></bk-table-column>
                                <bk-table-column label="状态" prop="status"></bk-table-column>
                                <bk-table-column label="执行人" prop="operator" ></bk-table-column>
                                <bk-table-column label="执行时间" prop="create_time" ></bk-table-column>
                            </bk-table>
                        </div>
                    </bk-col>
                </bk-row>

            </bk-container>
        </div>
    </div>
    <!-- jquery js  -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/jquery/jquery.json-2.3.min.js"></script>
    <!-- 处理jquery兼容问题，jQuery Migrate（迁移）插件包含了1.6.4以来存在但1.9已不支持所有API -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <!-- bootstrap js  -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- jquery ui js-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <!-- 平台 js  -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 引入 Vue -->
    <script src="https://cdn.bootcss.com/vue/2.5.22/vue.js"></script>
    <!-- 引入 bk-magic-vue 组件库 -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/components_vue/2.0/bk-magic-vue.js"></script>

    <script src="{{ STATIC_URL }}exam/index.js"></script>
    <script>
            // 获取业务列表
            // $.ajax({
            //     type: "get",
            //     url: '{% url "getBizList" %}', // site_url + 'release_task/'
            //     // data: JSON.stringify({
            //     //     bk_biz_id: 2
            //     // }),
            //     contentType: "application/json",
            //     dataType: "json",
            //     success: function(res) {
            //         this.bizList = []
            //         var html = ''
            //         for (var i =0; i<res.length;i++) {
            //             var obj = {
            //                 'bk_biz_id': res[i]['bk_biz_id'],
            //                 'bk_biz_name': res[i]['bk_biz_name']
            //             }
            //             html += '<bk-option key=' + res[i]['bk_biz_id'] + ' id=' + res[i]['bk_biz_id'] +' name=' + res[i]['bk_biz_name'] + '></bk-option>'
            //             this.bizList.push(obj)
            //         }
            //         $('#bizList').html(html)
            //         console.log('this.bizList:')
            //         console.log(this.bizList)
            //     }
            // })


    </script>
</body>
</html>
